<VirtualHost *:80>
    ServerName kaplan-devops.com
    ServerAlias www.kaplan-devops.com
    DocumentRoot /var/www/devopstest/
    <Directory "/var/www/devopstest/">
      Options All Indexes FollowSymLinks
      Order allow,deny
      Allow from all
   </Directory>
    ErrorLog /var/www/devopstest/logs/error.log
    CustomLog /var/www/devopstest/logs/access.log combined
</Virtual Host>
